    
extends layout

block content

    div(class="container", style="")
        a(href="/mood")
            img(src="/images/unknown.png" width="5%", class="logofin1")
        a(href="/login")
            img(src="/images/test1.png" class="logofin")
        div(style="display:block;margin: 0 auto; text-align:center;padding:50px;    padding-top: 25px;")
            h1!= "Select a Playlist"
            p!= "Select a playlist to set the tone."
            form(id="playlistedit-form")
                div(class="checkboxThree" style="position: relative;top: 30px;")
                        input(type="checkbox" name="manualprog" id="manualprog" value="manual")
                        label(for="manualprog" class="labelcheck shadow")
                div(id="playlistedit")
                    script(id="playlistedit-template" type="text/x-handlebars-template")
                        <select name="playeditmood" type="text" id="playeditmood" class="form-control" style="" placeholder="Select Playlist">
                        <option value="select playlist">Select Playlist</option>{{#each this}}<option value="{{playlistname}}">{{playlistname}}</option>{{/each}}</select>
                        <span style="color: #8a6d3b;float: right;top: -35px;lef;right: 1.5%;position: relative;font-size: 14pt;" class="fa fa-sort"></span>
            div(id="stock" style="display:none;margin-top: 30px")
                    script(id="stock-template" type="text/x-handlebars-template")
                        <span>stock: {{index}}</span><img src="/images/{{mood}}.png" width="128px"/><img src="/images/note.png" trackurl="{{url}}" width="250px" class="stocknote animated tada"/>
        br(style="clear: both;")

    script.
        var bearer = "Bearer " + "#{access_token}";
        var user;
        var playList = [];
        var templateSourceplayedit = document.getElementById('playlistedit-template').innerHTML,
            templateedit = Handlebars.compile(templateSourceplayedit),
            editPlaceholder = document.getElementById('playlistedit');
        var templateSourceStock = document.getElementById('stock-template').innerHTML,
            templatestock = Handlebars.compile(templateSourceStock),
            stockPlaceholder = document.getElementById('stock');

        var audioObject;

        var searchPlaylists = function () {
            console.log("looking for playlists");
            console.log("access token in playlists: " + bearer);
            $.ajax({
                //url: 'https://api.spotify.com/v1/me/playlists',
                url: 'https://financialmoodswing.herokuapp.com/playlistfetch',
                //headers: {'Authorization': bearer},
                success: function (response) {
                    editPlaceholder.innerHTML = templateedit(response.res);
                    console.log("success get playlists.");
                    console.dir(response.res);
                    $( "#playeditmood" ).change(function() {
                        $("#stock").show();
                        if(audioObject){
                        audioObject.pause();
                        }

                        var playlistid = $(this).val();
                        var playstr = "'" + playlistid + "'";
                        console.log("playstr: " + playstr);
                        var listname = $("#playeditmood option[value=" + playstr + "]").text();
                        console.log("listname: " + listname);

                        $.ajax({
                            url: 'https://financialmoodswing.herokuapp.com/stockfetch',
                            data: {playlistname: listname},
                            success: function (response) {
                                stockPlaceholder.innerHTML = templatestock(response);
                                console.log("success got stocks: " + response);
                                console.dir(response);
                                var preview = response.url;
                                audioObject = new Audio(preview);
                                audioObject.play();


                            }
                        });
                    });
                }
            });
        };
        searchPlaylists();


