@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);
* {
  /*box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
  -webkit-font-smoothing: antialiased;
}
/* general stuff*/
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body {
    padding-top:5px;
}

#search-form, .form-control {
    margin-bottom: 20px;
}
.covering {
    /*width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;*/
    padding: 10px;
            position: relative;
    float: left;
}
.covering:hover {
    cursor: pointer;
}
.cover.playing {
    /*border: 5px solid #e45343;*/

}
.cannotplay{
    pointer-events: none;
   cursor: default;
    background-color: #555;
}




